<?xml version="1.0" encoding="UTF-8" ?>
<suite name="Suite">
    <test name="Test 1">
        <classes>
            <class name="com.epam.rp.test.SimpleTest"/>
        </classes>
    </test>

    <test name="Test 2">
        <classes>
            <class name="com.epam.rp.test.TestAll"/>
        </classes>
    </test>
</suite>
